// Imports


// Body Styles
.bodylicious {

	height: 100vh;
	background: linear-gradient(to bottom, #e8e9ea, #ffffff);
	background-attachment: fixed;
	background-size: cover;
}

.navbar {

	.loguito {
		margin-right: 2rem;
		margin-bottom: 0.2rem;
	}

	.searchBar {
		max-height: 2rem;

		button {
			max-height: 2rem;
			display: flex;
			align-items: center;
			border-color: #ffffff;
			border-width: 0.75px;
			color: #ffffff;

			&:hover {
				background-color: white;
				color: #272727;
				border-color: #e8e9ea;
			}

		}
	}

	#cartito {
		padding-left: 1rem;
		transition: transform 0.15s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

#productContainer {
	margin: 1rem;

	.card {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;

		.card-body {
			padding: 1rem;
			h5{
				padding: 0rem;
				margin:0rem;
			}
			p{
				margin: 0rem;			
				
			}
			.card-price{
				margin-bottom: 0.5rem;
			}
		}
	}
}

#emptyCart{
	max-height:140px ;
	right: 20px;
	top:62px;
	border-width: 0px;
}

	


// Footer Styles

.footerilli {
	padding: 10px;
	border-top: 1px solid #bebebe;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;

	img {
		padding-left: 4px;
		padding-right: 4px;
		max-height: 30px;
		transition: transform 0.15s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

}
