// Imports


// Body Styles
.bodylicious {

	height: 100vh;
	background: linear-gradient(to bottom, #ffffff, #ededed);
	background-attachment: fixed;
	background-size: cover;
}

.navbar {

	font-family: 'rubik', sans-serif;
	font-weight: 400;

	.loguito {
		margin-right: 2rem;
		margin-bottom: 0.2rem;
	}

	.searchBar {
		font-family: 'rubik', sans-serif;
		font-weight: 300;
		max-height: 2rem;

		button {
			max-height: 2rem;
			display: flex;
			align-items: center;
			border-color: #ffffff;
			border-width: 0.75px;
			color: #ffffff;

			&:hover {
				background-color: white;
				color: #272727;
				border-color: #e8e9ea;
			}

		}
	}

	#cartito {
		padding-left: 1rem;
		transition: transform 0.15s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}


#productContainer {
	margin: 1rem;

	.card {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		transition: transform 0.1s ease-in-out;

		&:hover {
			transform: scale(1.01);
			border-color: #272727;
			border-width: 0.08rem;
			box-shadow: 0 0 5px rgba(154, 154, 154, 0.3);

			hr {
				border-color: #272727;
				opacity: 0.6;

			}
		}

		hr {
			border-color: #7c7b7b;
			padding: 0;
			margin: 0;
			margin-top: 0.2rem;
		}

		.card-body {
			padding: 1rem;

			h5 {
				padding: 0rem;
				margin: 0rem;
			}

			p {
				margin: 0rem;

			}

			.card-price {
				margin-bottom: 0.2rem;
				font-family: 'Roboto Mono', monospace;
				font-weight: 300;
				color: #7c7b7b
			}
		}
	}
}

#emptyCart {
	max-height: 70px;
	max-width: 400px;
	position: fixed;
	z-index: 100;
	right: 20px;
	top: 65px;
	border-width: 0.5px;
	border-style: solid;
	border-color: #7c7b7b;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.total-price {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
	font-size: x-large;
	color: #7c7b7b
}
.cart-item{
	padding-left: 0rem;
	padding-right: 0rem;
}
.cartCard {
	padding-top: 0.3rem;
	margin-bottom: 0.5rem;
	max-width: 550px;

	.primer-columna {
		max-width: 110px;

		h5 {
			padding: 0rem;
			margin: 0rem;
		}

		p {
			margin: 0rem;

		}
	}

	.image-cart {
		display: flex;
		align-items: center;
		justify-content: center;

		.card-img-top {
			padding-top: 0.3rem;
			padding-bottom:0.3rem;
			max-height: 120px;
			width: auto;
		}


	}

	.card-body {
		padding: 0.3rem;

		.card-price {
			margin-bottom: 0.2rem;
			font-family: 'Roboto Mono', monospace;
			font-weight: 300;
			color: #7c7b7b
		}
	}
	.button-group {
		padding:0.3rem;

		.paddingBotones{
			padding-top: 0.3rem;
			padding-bottom: 0.3rem;
			justify-content: center;
			span {
				padding: 0.25rem;
	
			}
		}
		.paddingRemove{
			justify-content: center;
			padding:0.3rem;
		}
	}
}




// Footer Styles

.footerilli {
	padding: 10px;
	border-top: 1px solid #bebebe;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;

	img {
		padding-left: 4px;
		padding-right: 4px;
		max-height: 30px;
		transition: transform 0.15s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}

}